 body{
    height: 99%; /*avoid 2 pages at printer*/
}
@page{ 
    size: auto;   /* auto is the initial value */ 
    margin: 0mm;  /* this affects the margin in the printer settings */ 
} 

.container{
    height: 100%;
}
.background-image{
    height:100%;
     width:auto;
     position: relative;
}
.container-data{
    position: absolute;
    top: 50px;
    left:100px;
    text-align:justify;
}
h5{
    margin-top:10px !important;
}
label{
    margin-bottom: 0px !important;
}
#print-pdf, #cancel{
    position: absolute;
    bottom: 60px;
}
#print-pdf{
    left:100px;
}
#cancel{
    left:170px;
}